# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
*.test
*.out
vendor/

# Environment
.env
dev.env
test.env
prod.env

# Logs
*.log

# VS Code
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Build
backend/bin/
backend/build/

# CSS

*.backup.css
